* {
    margin:0;
    padding:0;
    border:0;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    background-color: #F0A868;
  }

  #game-name {
      margin-top: 2rem;
      font-family: 'Abril Fatface', cursive;
  }
  #total-money {
      background-color:#7BD389;
      margin-top: 2rem;
  }

  #main-square {
      width: 25rem;
      height: 25rem;
      margin: 2rem;
      background-color: #0E79B2;
      font-size: x-large;
  }

  #option-table {
      overflow-y: scroll;
  }

  .option-button {
      margin: 2rem;
      background-color: #B9D6F2;
  }